/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
html {
    background-color: rgb(247, 241, 228);
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
}

/* Header and Footer */
header, footer {
    display: flex;
    width: 100%;
    background-color: rgb(228, 60, 54);
    min-height: 7rem;
}

header nav, footer nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    margin: auto;
}

nav a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-right: 2.8rem;
    text-shadow: 2px 2px 4px rgba(42, 41, 40, 0.5);
}


/* Introduction */
.intro {
    display: flex;
    min-height: 25rem;
    align-items: center;
    justify-content: center;
}

.intro h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: rgb(247, 241, 228);
    background-color: rgb(42, 41, 40);
    text-shadow: 2px 2px 4px rgba(105, 104, 103, 0.5);
    width: 100%;
    padding: 1.5rem;
}

.summary {
    margin: 1rem;
    padding-bottom: 4em;
}
.summary p{
    padding-top: .8rem; /* Adjust this value as needed to control the space between paragraphs */
}

.summary a {
    text-decoration: none;
    color: rgb(227, 59, 53);
    cursor: pointer;
}

.photo-containter {
    display: flex;
    justify-content: center;
}

.photos {
    display: flex;
    max-width: 30rem;
    gap: 4rem;
    justify-content: center;
}

.photos img {
    max-width: 100%;
    max-height: 100%;
}

/* Testimonials */
.testimonial {
    width: 100%;
    margin: 4rem 0;
    padding: 4rem 0 8rem 1rem;
    font-size: 1.5rem;
    color: rgb(247, 241, 228);
    background-color: rgb(42, 41, 40);
    text-shadow: 2px 2px 4px rgba(105, 104, 103, 0.5);
}

.testimonial p {
    font-size: medium;
    padding-top: .8rem;
}

/* Meetup */
.meetup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 60rem; /* Adjust the max width as needed */
    margin: 0 auto; /* Center the section horizontally */
    padding-top: 5rem;
    font-size: larger;
    color: rgb(227, 59, 53);
}

.meetup .image {
    text-align: center; /* Center the image within its container */
}

.meetup .image img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    padding: 1em;
}

.meetup h1, .meetup h2 {
    width: 100%; /* Make sure the text spans the width of the container */
    margin: 0; /* Remove default margin */
}

.meetup h2 {
    margin-bottom: 3rem;
}

/* Responsive */
@media only screen and (max-width: 960px) {
    header, footer {
        flex-direction: column;
    }

    header nav, footer nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        margin: 0;
    }

    .intro h1 {
        font-size: 2rem;
    }

    .photos {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }
}

@media only screen and (min-width: 700px) {
    .intro h1 {
        font-size: 1.5rem;
    }

    .photos img {
        max-width: 100%;
    }
}

@media only screen and (min-width: 470px) {
    .intro h1 {
        font-size: 1.2rem;
    }

    .summary p {
        padding-top: 0.5rem;
    }

    .testimonial p {
        font-size: 1rem;
    }
    .photos {
        gap: 1rem;
    }
}







